
<div class="text-center mb-auto">

    <h1 class="My_name m-3">Juan Carlos Bermudez Dominguez</h1>
    <h2>Software developer </h2>
    <img id="foto"
         src="~/Imagenes\fpct.jpg" alt="Mi foto" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>This is my web portfolio</h1>
        <p>
            I'm a full-stack web developer, currently building a learninig new stuff (using Javascript and Node.js). 
            I love create helpful software that can solve real-life problems with code. 
            I also work with .NET Framework and SQL.
        </p>
    </div>
</div>

