@model IEnumerable<Proyecto>

@if (Model is not null)
{
    <div class="text-center-proyectos" style="paddig-top: 6rem;">
        <h1>My projects</h1>
        <p>Here are my recent projects.</p>
    </div>

    <partial name="_ListadoProyectos" model="Model"/>
}
